name: Build and deploy Nikola site

on:
  push:
    branches: [ main ]

jobs:
  nikola_build:
    runs-on: ubuntu-latest
    name: Deploy Nikola to GitHub Pages

    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Build and Deploy Nikola
        uses: getnikola/nikola-action@v8
        with:
          dry_run: false
